.submit-button {
  margin-top: .5rem;
  padding: .75rem 0;
  font-size: 14px;
}

.form-input {
  padding: .5rem 1rem;
  font-size: 1rem;

  &::placeholder {
    font-size: 1rem;
  }
}

.modal-body {
  form {
    label {
      font-size: 1rem;
      margin: 0 0 .1rem .1rem;
    }
  }
}