<div class="modal-header">
  <h4 class="modal-title">{{ action === 'create' ? 'Criar' : 'Editar' }} Cliente</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="this.close()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">

    <div class="mb-4">
      <label for="name" class="form-label">Nome</label>
      <input 
        type="text" 
        id="name" 
        data-cy="client-name"
        class="form-input" 
        formControlName="name" 
        placeholder="Digite o nome"
      >
    </div>

    <label for="salary" class="form-label">Salário</label>
    <input 
      type="text" 
      id="salary"
      data-cy="client-salary"
      class="form-input mb-4" 
      formControlName="salary" 
      currencyMask [options]="currencyInputOptions"
      placeholder="Digite o salário"
    >

    <label for="companyValue" class="form-label">Valor da Empresa</label>
    <input 
      type="text" 
      id="companyValue"
      data-cy="client-company-value"
      class="form-input mb-4" 
      formControlName="companyValue"
      currencyMask [options]="currencyInputOptions"
      placeholder="Digite o valor da empresa"
    >

    <button 
      type="submit" 
      class="submit-button" 
      [disabled]="clienteForm.invalid"
    >
      {{ action === 'update' ? 'Editar' : 'Criar' }} cliente
    </button>
  </form>
</div>