<div class="modal-header">
  <h4 class="modal-title">{{ action === 'create' ? 'Criar' : 'Editar' }} Cliente</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="this.close()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <input type="text" id="name" class="form-input" formControlName="name" placeholder="Digite o nome">
    </div>

    <input 
      type="text" 
      id="salary"
      class="form-input mb-3" 
      formControlName="salary" 
      placeholder="Digite o salário"
      currencyMask [options]="currencyInputOptions"
    >

    <input 
      type="text" 
      id="companyValue"
      class="form-input mb-3" 
      formControlName="companyValue"
      placeholder="Digite o valor da empresa"
      currencyMask [options]="currencyInputOptions"
    >

    <button type="submit" class="submit-button" [disabled]="clienteForm.invalid">
      {{ action === 'update' ? 'Editar' : 'Criar' }} cliente
    </button>
  </form>
</div>