<header>
  <div class="brand-container">
    <button (click)="onMenuToggle()">
      <img src="/icons/menu-button.svg" alt="">
    </button>
    <img src="/images/logo.png" alt="">
  </div>

  <nav>
    <ul>
      <li>
        <a routerLink="clientes" routerLinkActive="active">Clientes</a>
      </li>
      <li>
        <a routerLink="clientes-selecionados" routerLinkActive="active">Clientes selecionados</a>
      </li>
      <li>
        <button (click)="logout()">Sair</button>
      </li>
    </ul>
  </nav>

  <span>Olá, <strong>{{username}}</strong></span>
</header>