<div class="client-manager" *ngIf="clients.length">
  <div class="client-manager__header">
    <span class="results"><strong>{{ totalItems }}</strong> clientes encontrados:</span>
    <div class="per-page">
      <label for="items-per-page">Clientes por página: </label>
      <select 
        id="items-per-page" 
        [(ngModel)]="itemsPerPage"
        (ngModelChange)="onItemsPerPageChange($event)"
      >
        <option [value]="8">8</option>
        <option [value]="16">16</option>
        <option [value]="32">32</option>
      </select>
    </div>
  </div>

  <div class="client-manager__grid">
    <div *ngFor="let client of clients | paginate: { itemsPerPage, currentPage, totalItems }"
      class="client-card">
      <div class="client-card__content">
        <h3 class="client-card__title">{{ client.name }}</h3>
        <p class="client-card__detail">Salário: R$ {{ client.salary }}</p>
        <p class="client-card__detail">Empresa: R$ {{ client.companyValue }}</p>
      </div>
      <div class="client-card__actions">
        <button class="client-card__action client-card__action--add">
          <img src="/icons/plus.png" alt="">
        </button>
        <button class="client-card__action client-card__action--edit">
          <img src="/icons/pencil.png" alt="">
        </button>
        <button 
          class="client-card__action client-card__action--delete"
          (click)="removeItem(client.id)"
        >
          <img src="/icons/trash.png" alt="">
        </button>
      </div>
    </div>
  </div>

  <div class="client-manager__footer">
    <button class="client-manager__create" (click)="createClient()">Criar cliente</button>
    <div class="pagination-container">
      <pagination-controls
        class="my-pagination"
        (pageChange)="onPageChange($event)"
        [directionLinks]="false"
      ></pagination-controls>
    </div>
  </div>
</div>