<div class="client-manager">
  <div class="client-manager__header">
    <div class="results"><strong>{{ totalItems }}</strong> clientes encontrados</div>
    <div class="per-page">
      <label for="items-per-page">Clientes por página: </label>
      <select id="items-per-page" [(ngModel)]="itemsPerPage" (ngModelChange)="onItemsPerPageChange($event)">
        <option [value]="8">8</option>
        <option [value]="16">16</option>
        <option [value]="32">32</option>
      </select>
    </div>
  </div>

  <div class="client-manager__grid">
    <div *ngFor="let client of clients | paginate: { itemsPerPage, currentPage, totalItems }" class="client-card">
      <div class="client-card__content">
        <h3 class="client-card__title">{{ client.name }}</h3>
        <p class="client-card__detail">Salário: {{ client.salary | currency:'BRL' }}</p>
        <p class="client-card__detail">Empresa: {{ client.companyValue | currency:'BRL' }}</p>
      </div>
      <div class="client-card__actions">
        @if (client.selected) {
        <button (click)="removeClientOfSelection(client)">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1_2)">
              <path d="M0.743774 8.5H16.2563" stroke="#323232" stroke-width="3" />
            </g>
            <defs>
              <clipPath id="clip0_1_2">
                <rect width="17" height="17" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
        }
        @else {
        <button (click)="addClientToSelection(client)">
          <img src="/icons/plus.png" alt="Ícone: símbolo de soma">
        </button>
        }
        <button (click)="createOrUpdateClient('update', client)">
          <img src="/icons/pencil.png" alt="">
        </button>
        <button (click)="removeItem(client)">
          <img src="/icons/trash.png" alt="">
        </button>
      </div>
    </div>
  </div>

  <div class="client-manager__footer">
    @if (onlySelectedClients) {
      <button class="client-manager__create" (click)="resetClientSelection()">Limpar clientes selecionados</button>
    } @else { 
      <button class="client-manager__create" (click)="createOrUpdateClient('create')">Criar cliente</button>
    }
    <div class="pagination-container">
      <pagination-controls class="my-pagination" (pageChange)="onPageChange($event)"
        [directionLinks]="false"></pagination-controls>
    </div>
  </div>
</div>