.client-manager {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__header {
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .results {
      strong {
        font-weight: 700;
      }
    }

    .per-page {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      select {
        padding: 0.25rem;
        font-size: 12px;
        font-weight: 400;
        border: 1px solid #D9D9D9;
        border-radius: 0.25rem;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.5rem 0.5rem 0 0.5rem;
    width: 100%;
    background: #f9f9f9;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1019607843);
    .client-manager__create {
      width: 100%;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      font-weight: 700;
      border: 2px solid #EC6724;
      color: #EC6724;
      border-radius: 0.25rem;
      cursor: pointer;

      &:hover {
        background-color: #EC6724;
        color: #FFFFFF;
      }
    }

    .pagination-container {
      padding-top: 1rem;
      display: flex;
      justify-content: center;

      .my-pagination ::ng-deep .ngx-pagination .current {
        background: #EC6724;
        border-radius: 4px;
      }
    }
  }
}

.client-card {
  padding: 1rem;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px 0px #0000001A;
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  &__title {
    font-size: 1rem;
    font-weight: 700;
  }

  &__detail {
    font-size: 14px;
    font-weight: 400;
  }

  &__actions {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      display: flex;
      align-items: center;
    }
  }
}

@media (min-width: 720px) {
  .client-manager {
    &__header {
      font-size: 18px;
      justify-content: space-between;
    }
  }
}