.client-manager {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  &__header {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .results {
      strong {
        font-weight: 700;
      }
    }

    .per-page {
      display: flex;
      align-items: center;
      gap: 1rem;

      select {
        padding: 0.25rem;
        font-size: 12px;
        font-weight: 400;
        border: 1px solid #D9D9D9;
        border-radius: 0.25rem;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }

  &__footer {
    .client-manager__create {
      width: 100%;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      font-weight: 700;
      border: 2px solid #EC6724;
      color: #EC6724;
      border-radius: 0.25rem;
      cursor: pointer;

      &:hover {
        background-color: #EC6724;
        color: #FFFFFF;
      }
    }

    .pagination-container {
      padding-top: 1rem;
      display: flex;
      justify-content: center;

      .my-pagination ::ng-deep .ngx-pagination .current {
        background: #EC6724;
        border-radius: 4px;
      }
    }
  }
}

.client-card {
  padding: 1rem;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px 0px #0000001A;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__content {
    &__title {
      font-size: 1rem;
      font-weight: 700;
    }

    &__detail {
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__actions {
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;

    &__action {
      cursor: pointer;
      font-size: 1.25rem;

      &--add {
        color: #4caf50;
      }

      &--edit {
        color: #1976d2;
      }

      &--delete {
        color: #f44336;
      }
    }
  }
}